MYSQL_DATABASE=mundo_entre_libros_db
MYSQL_USER=mel_user
MYSQL_PASSWORD=CAMBIA_ESTA_PASSWORD
MYSQL_ROOT_PASSWORD=CAMBIA_ESTA_ROOT_PASSWORD

JWT_SECRET=CAMBIA_ESTE_SECRET_POR_UNO_MUY_LARGO_Y_SEGURO
JWT_EXPIRATION_MS=86400000

APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,https://TU-FRONTEND.vercel.app