SPRING_APPLICATION_NAME=mundo-entre-libros-api

PORT=8080

SPRING_DATASOURCE_URL=jdbc:mysql://HOST:3306/mundo_entre_libros_db?useSSL=true&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=TU_USUARIO
SPRING_DATASOURCE_PASSWORD=TU_PASSWORD

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_FORMAT_SQL=false

SPRING_JACKSON_TIME_ZONE=UTC

JWT_SECRET=CAMBIA_ESTE_SECRET_POR_UNO_LARGO_Y_SEGURO
JWT_EXPIRATION_MS=86400000

APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,https://tu-dominio.vercel.app